@page
@model CarService.Pages.Appointments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Stergere</h1>

<h3>Esti sigur ca vreai sa stergi asta?</h3>
<div>
    <h4>Programare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Client.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.ServiceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.ServiceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Appointment.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la toata lista</a>
    </form>
</div>
