@page "{id:int?}"
@model CarService.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Sali</h1>

<p>
    <a asp-page="Create">Adauga o sala noua</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].RoomName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoomIndexData.Rooms) {
            string selectedRow = "";
            if(item.ID == Model.RoomID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Selecteaza</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>

            @if(Model.RoomIndexData.Services!=null)
            {
    <h3>Serviciile care se presteaza in sala aleasa</h3>
    <table class="table">
        @foreach (var item in Model.RoomIndexData.Rooms)
        {
            string selectedRow = "";
            if(item.ID == Model.RoomID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @{
                        foreach(var s in item.Services)
                        {
                            @s.Name 
                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}